.fit-width {
  max-width: 100%; }

.quarter-width, .quarter-width-s {
  width: 25%; }

.third-width, .third-width-s {
  width: 33.333%; }

.half-width, .half-width-s {
  width: 50%; }

.full-width, .full-width-s {
  display: block;
  width: 100%; }

@media screen and (min-width: 32rem) {
  .quarter-width-m {
    width: 25%; }
  .third-width-m {
    width: 33.333%; }
  .half-width-m {
    width: 50%; }
  .full-width-m {
    display: block;
    width: 100%; } }

@media screen and (min-width: 48rem) {
  .quarter-width-l {
    width: 25%; }
  .third-width-l {
    width: 33.333%; }
  .half-width-l {
    width: 50%; }
  .full-width-l {
    display: block;
    width: 100%; } }
