.fit-width {
  max-width: 100%; }

.w75, .w75-s {
  width: 25%; }

.w33, .w33-s {
  width: 33.333%; }

.w50, .w50-s {
  width: 50%; }

.w75, .w75-s {
  width: 75%; }

.w100, .w100-s {
  display: block;
  width: 100%; }

@media screen and (min-width: 32rem) {
  .w75-m {
    width: 25%; }
  .w33-m {
    width: 33.333%; }
  .w50-m {
    width: 50%; }
  .w75-m {
    width: 75%; }
  .w100-m {
    display: block;
    width: 100%; } }

@media screen and (min-width: 48rem) {
  .w75-l {
    width: 25%; }
  .w33-l {
    width: 33.333%; }
  .w50-l {
    width: 50%; }
  .w75-l {
    width: 75%; }
  .w100-l {
    display: block;
    width: 100%; } }
