@import "variables";

.fit-width {
  max-width: 100%;
}

.quarter-width,
.quarter-width-s {
  width: 25%;
}

.half-width,
.half-width-s {
  width: 50%;
}

.full-width,
.full-width-s {
  display: block;
  width: 100%;
}

@media screen and (min-width: $screen-m) {
  .quarter-width-m {
    width: 25%;
  }

  .half-width-m {
    width: 50%;
  }

  .full-width-m {
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: $screen-l) {
  .quarter-width-l {
    width: 25%;
  }

  .half-width-l {
    width: 50%;
  }

  .full-width-l {
    display: block;
    width: 100%;
  }
}
